
NET "clk200P"		LOC = AC18		 | IOSTANDARD = LVDS;
NET "clk200N"		LOC = AD18		 | IOSTANDARD = LVDS;
NET "RSTN"				LOC = W13       | IOSTANDARD = LVCMOS18 ;

#LED
NET "LEDCLK"			LOC = N26	|IOSTANDARD = LVCMOS33 ;
//NET "LEDCLR"			LOC = N24   | IOSTANDARD = LVCMOS33 ;
NET "LEDDT"				LOC = M26   | IOSTANDARD = LVCMOS33 ;
NET "LEDEN"				LOC = P18   | IOSTANDARD = LVCMOS33 ;  
   
#
NET "SEGCLK"			LOC = M24   | IOSTANDARD = LVCMOS33 ;
//NET "SEGCLR"			LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEGDT"				LOC = L24   | IOSTANDARD = LVCMOS33 ;
NET "SEGEN"				LOC = R18   | IOSTANDARD = LVCMOS33 ;  
  
#Tri_LED
NET "RDY"				LOC = U21   | IOSTANDARD = LVCMOS33 ;#LED_nR0
NET "readn"				LOC = U22   | IOSTANDARD = LVCMOS33 ;#LED_nG0
NET "CR"					LOC = V22   | IOSTANDARD = LVCMOS33 ;#LED_nB0
#NET "LED_nR1"			LOC = U24   | IOSTANDARD = LVCMOS18 ;
#NET "LED_nG1"			LOC = U25   | IOSTANDARD = LVCMOS18 ;
#NET "LED_nB1"			LOC = V23   | IOSTANDARD = LVCMOS18 ;

#
NET "K_ROW[0]" 		LOC = V17   | IOSTANDARD = LVCMOS18 ;#ROW0
NET "K_ROW[1]"			LOC = W18   | IOSTANDARD = LVCMOS18 ;#ROW1
NET "K_ROW[2]"			LOC = W19   | IOSTANDARD = LVCMOS18 ;#ROW2
NET "K_ROW[3]"			LOC = W15   | IOSTANDARD = LVCMOS18 ;#ROW3
NET "K_ROW[4]"			LOC = W16   | IOSTANDARD = LVCMOS18 ;#ROW4

NET "K_COL[0]"			LOC = V18   | IOSTANDARD = LVCMOS18 ;#COL0
NET "K_COL[1]"			LOC = V19   | IOSTANDARD = LVCMOS18 ;#COL1
NET "K_COL[2]"			LOC = V14   | IOSTANDARD = LVCMOS18 ;#COL2
NET "K_COL[3]"			LOC = W14   | IOSTANDARD = LVCMOS18 ;#COL3

#switch
NET "SW[0]"				LOC = AA10  | IOSTANDARD = LVCMOS15 ;
NET "SW[1]"				LOC = AB10  | IOSTANDARD = LVCMOS15 ;
NET "SW[2]"				LOC = AA13  | IOSTANDARD = LVCMOS15 ;
NET "SW[3]"				LOC = AA12  | IOSTANDARD = LVCMOS15 ;
NET "SW[4]"				LOC = Y13   | IOSTANDARD = LVCMOS15 ;
NET "SW[5]"				LOC = Y12   | IOSTANDARD = LVCMOS15 ;
NET "SW[6]"				LOC = AD11  | IOSTANDARD = LVCMOS15 ;
NET "SW[7]"				LOC = AD10  | IOSTANDARD = LVCMOS15 ;
NET "SW[8]"				LOC = AE10  | IOSTANDARD = LVCMOS15 ;
NET "SW[9]"				LOC = AE12  | IOSTANDARD = LVCMOS15 ;
NET "SW[10]"			LOC = AF12  | IOSTANDARD = LVCMOS15 ;
NET "SW[11]"			LOC = AE8   | IOSTANDARD = LVCMOS15 ;
NET "SW[12]"			LOC = AF8   | IOSTANDARD = LVCMOS15 ;
NET "SW[13]"			LOC = AE13  | IOSTANDARD = LVCMOS15 ;
NET "SW[14]"			LOC = AF13  | IOSTANDARD = LVCMOS15 ;
NET "SW[15]"			LOC = AF10  | IOSTANDARD = LVCMOS15 ;

#ArDUNIO-Sword-002-Basic IO
//NET "Buzzer"			LOC = AF25  | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[0]"		LOC = AB22  | IOSTANDARD = LVCMOS33 ;#a
NET "SEGMENT[1]" 		LOC = AD24	| IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[2]" 		LOC = AD23	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[3]" 		LOC = Y21	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[4]" 		LOC = W20	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[5]" 		LOC = AC24	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[6]" 		LOC = AC23	| IOSTANDARD = LVCMOS33 ;#g
NET "SEGMENT[7]" 		LOC = AA22	| IOSTANDARD = LVCMOS33 ;#point

NET "AN[0]" 			LOC = AD21  | IOSTANDARD = LVCMOS33 ;
NET "AN[1]" 			LOC = AC21  | IOSTANDARD = LVCMOS33 ;
NET "AN[2]" 			LOC = AB21  | IOSTANDARD = LVCMOS33 ;
NET "AN[3]" 			LOC = AC22  | IOSTANDARD = LVCMOS33 ;

NET "LED[0]" 			LOC = AF24  | IOSTANDARD = LVCMOS33 ;
NET "LED[1]" 			LOC = AE21  | IOSTANDARD = LVCMOS33 ;
NET "LED[2]" 			LOC = Y22   | IOSTANDARD = LVCMOS33 ;
NET "LED[3]" 			LOC = Y23   | IOSTANDARD = LVCMOS33 ;
NET "LED[4]" 			LOC = AA23  | IOSTANDARD = LVCMOS33 ;
NET "LED[5]" 			LOC = Y25   | IOSTANDARD = LVCMOS33 ;
NET "LED[6]" 			LOC = AB26  | IOSTANDARD = LVCMOS33 ;
NET "LED[7]" 			LOC = W23   | IOSTANDARD = LVCMOS33 ;