NET "clk200P"	LOC="AC18" | IOSTANDARD = LVDS;
NET "clk200N"	LOC="AD18" | IOSTANDARD = LVDS;


NET "RSTN"		LOC = W13 | IOSTANDARD = LVCMOS18 ;

NET "a[0]"   LOC = AA10   | IOSTANDARD = LVCMOS15 ; 
NET "a[1]"   LOC = AB10   | IOSTANDARD = LVCMOS15 ; 
NET "a[2]"   LOC = AA13   | IOSTANDARD = LVCMOS15 ; 
NET "a[3]"   LOC = AA12   | IOSTANDARD = LVCMOS15 ; 
NET "b[0]"   LOC = Y13    | IOSTANDARD = LVCMOS15 ; 
NET "b[1]"   LOC = Y12    | IOSTANDARD = LVCMOS15 ; 
NET "b[2]"   LOC = AD11   | IOSTANDARD = LVCMOS15 ; 
NET "b[3]"   LOC = AD10   | IOSTANDARD = LVCMOS15 ; 
	
NET "LEDCLK"			LOC = N26   | IOSTANDARD = LVCMOS33 ;
NET "LEDCLR"			LOC = N24   | IOSTANDARD = LVCMOS33 ;
NET "LEDDT"			LOC = M26   | IOSTANDARD = LVCMOS33 ;
