//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 12 01:14:39 2024
//! **************************************************************************

SCHEMATIC START;
COMP "CR" LOCATE = SITE "V22" LEVEL 1;
COMP "LEDCLK" LOCATE = SITE "N26" LEVEL 1;
COMP "RDY" LOCATE = SITE "U21" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "AD21" LEVEL 1;
COMP "K_ROW<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "AC21" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "AB21" LEVEL 1;
COMP "K_ROW<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "AC22" LEVEL 1;
COMP "K_ROW<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "K_ROW<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "K_ROW<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "readn" LOCATE = SITE "U22" LEVEL 1;
COMP "SEGDT" LOCATE = SITE "L24" LEVEL 1;
COMP "SEGEN" LOCATE = SITE "R18" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "AF12" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "AE8" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "AF8" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "AE13" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "AF13" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "AF10" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "AE10" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "AE12" LEVEL 1;
COMP "LEDDT" LOCATE = SITE "M26" LEVEL 1;
COMP "LEDEN" LOCATE = SITE "P18" LEVEL 1;
COMP "RSTN" LOCATE = SITE "W13" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "AC24" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "AC23" LEVEL 1;
COMP "SEGMENT<7>" LOCATE = SITE "AA22" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "AD23" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "Y21" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "W20" LEVEL 1;
COMP "clk200N" LOCATE = SITE "AD18" LEVEL 1;
COMP "clk200P" LOCATE = SITE "AC18" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "AB22" LEVEL 1;
COMP "SEGCLK" LOCATE = SITE "M24" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "AF24" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "AE21" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "Y23" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "AA23" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "Y25" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "AB26" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "W23" LEVEL 1;
COMP "K_COL<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "K_COL<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "K_COL<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "K_COL<3>" LOCATE = SITE "W14" LEVEL 1;
SCHEMATIC END;

